:root {
    --border-style: solid;
    --border-width: 1px;
    --border-radius: 1px;
    --border-color: #2E2E2E;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#square {
    border-style: var(--border-style);
    border-width: var(--border-width);
    border-radius: var(--border-radius);
    border-color: var(--border-color);
    width: 300px;
    height: 300px;
    display: inline-block;
}

body {
    text-align: center;
    font-family: sans-serif;
}

ul {
    text-align: left;
    max-width: 600px;
    margin: 0 auto;
    list-style: none;
}